#main {
    background: url(/res/bg.png) repeat right bottom;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    text-align: center;
    margin: 20px auto;
}

#header {
    height: 250px;
    width: 800px;
}

#footer {
    height: 60px;
    width: 800px;
    clear: none;
}

.login_form {
    border-radius: 7px;
    float: right;
    text-align: left;
    background: #696969;
}

.admin_login_form {
    table-layout: inherit;
    margin-top: 200px;
    border-radius: 7px;
    text-align: left;
    background: #696969;
}

.reg_form {
    border-radius: 7px;
    text-align: left;
}

#logo {
    float: left;
    margin-left: 0px;
    margin-top: 0px;

}

.logoText {
    float: right;
    margin: 20px 85px 20px 40px;
    font-family: 'American Typewriter', Courier, monospace;
    font-size: 50px;
    color: #333;
}

#topHeader {
    height: 100px;
    width: 800px;
}

#homeButton {
    height: 50px;
    width: 100px;
    float: left;
}

#widgetBar {
    height: 50px;
    width: 100px;
    float: right;
}

.bubble {
    font-weight: bold;
    background-color: #f5eabe;
    padding: 5px;
    color: inherit;
    display: inline;
    border-radius: 4px;
}

#indexLeftColumn {
    height: 400px;
    width: 400px;
    float: left;
}

#indexRightColumn {
    height: 400px;
    width: 400px;
    float: right;
}

#centerColumn {
    height: 400px;
    width: 800px;
    float: left;
}

#profile_layout {
    font-size: 20;
    text-align: left;
    margin-left: 50px;
}

#account_layout {
    font-size: 20;
    text-align: left;
    margin-left: 50px;
}

.reg_button {
    margin-top: 30%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color: #79bbff;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 28px;
    font-weight: bold;
    padding: 32px 76px;
    text-decoration: none;
}

.reg_button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color: #378de5;
}

.reg_button:active {
    position: relative;
    top: 1px;
}

.button {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
    background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color: #79bbff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
    background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color: #378de5;
}

.button:active {
    position: relative;
    top: 1px;
}

.button:disabled {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #737b80), color-stop(1, #737b80));
    background: -moz-linear-gradient(center top, #737b80 5%, #737b80 100%);
    position: relative;
    top: 1px;
    color: #333333;
    background-color: #333333;
}

