<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>

<div id="footer">
    <img src="/res/footerLine.png"> <br>
    <fmt:message key="footerText"/>
</div>

</body>

</html>